# Usa o registro do Yarn, que pode ter uma rota de rede mais estável para você
registry=https://registry.yarnpkg.com

# Aumenta o tempo máximo de timeout geral para 2 minutos (padrão é 1 min)
timeout=120000

# Tenta novamente um download falho até 5 vezes (padrão é 2)
fetch-retries=5

# Aumenta o tempo de espera entre as tentativas
fetch-retry-maxtimeout=120000